/* general css */
body {
    margin: 0;
    background-color: var(--black);
}

h1,
h2,
h3,
h4,
p,
a,
ul,
li,
label {
    font-family: 'gill sans';
    font-weight: 150;
    color: var(--white);
}

/* color palette */

:root {
    --black: #121212;
    --darkpurple: #402e57;
    --white: #d9d9d9;
    --yellow: #d19a47;
    --darkblue: #0b1c38;
    --blue: #25488a;
    --lightblue: #547fab;

}

@keyframes bounceUp {
    0% {}

    100% {
        transform: translateY(10%);
        transform: translateX(10%);
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }

    100% {}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeInSlideBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeInSlideRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeInSlideBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeInSlideTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes rainEffect {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);

    }

    100% {
        transform: rotate(-10deg);
    }
}




/* mainpage css */
.mainPage {
    height: 100vh;
    width: 100vw;
}

/* NavBar.js css */

.navBar {
    width: 80vw;
    height: 6rem;
    background-color: var(--black);
    position: absolute;
    top: 0px;
    z-index: 1;
    border-right-style: solid;
    border-right-color: black;

}

.buttonBox {
    width: 80vw;
    display: flex;
    position: absolute;
    top: 0px;
    right: 10vw;
    left: 10vw;
    height: 100%;

}

button {
    box-sizing: border-box;
    width: 4cm;
    margin: 0.5cm;
    height: 50px;
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--white);

}

button:hover {
    border-color: var(--yellow);
}

.mimiPic {
    width: 1.5cm;
    height: 1.5cm;
    margin: 1cm;
    margin-top: 0cm;
}